*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: fixed;
    z-index: 1;
    width: 100%;
    height: 47px;
    padding: 10px 90px;
    background: linear-gradient(45deg, #ff9900 0%,#ff5500 100%);
    
    .items {
      height: 50px;
    }
    #menu {
      display: none;
    }
    img {
      width: 142px;
      height: 25px;
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        padding: 20px;
        list-style: none;
        font-size: 14px;
        &:nth-child(1){
          border-radius: 30px;
          padding: 6px 18px;
          border: 1px solid #FFF;
          background: linear-gradient(45deg, #00bb88 0%,#33EE55 100%);
        }
        a {
          text-decoration: none;
          color: white;

          &:hover {
            text-decoration:underline ;
          }
        }
      }
    }
  }
  .main {
    height: 776px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .esquerdo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-right: 50px;
      position: relative;
      .title {
        position: relative;
        height: 158px;
        color: #000;

        h1{
          text-align: left;
          font-size: 54px;
          line-height: 58px;
          text-transform: uppercase;

          span {
            font-weight: 400;
          }
        }
        .wpp {
          width: 73px;
          height: 73px;
          position: absolute;
          left: 352px;
          top: 50px;
        }
        .plane-title {
          position: absolute;
          width: 67px;
          height: 97px;
          top: -20px;
          right: -19px;
        }
      }
      .planes-1 {
        width: 157px;
        height: 100px;
        position: absolute;
        bottom: -79px;
        left: 385px;
      }
      h3{
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: left;
        font-size: 19px;
        line-height: 26px;
        color: #000; 
      }
      p {
        margin: 20px 0 30px;
        font-size: 16px;
        line-height: 22px;
        width: 530px;
      }
      a {
        width: 70%;
        text-align: center;
        text-decoration: none;
        border-radius: 30px;
        padding: 14px 30px;
        color: #FFF;
        font-size: 24px;
        background: linear-gradient(45deg, #00bb88 0%,#33EE55 100%);
        box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
      }
    }
    .direito {
      display: flex;
      align-items: center;
      img {
        width: 371px;
        height: 693px;
      }
    }
  }
  .page-link {
    height: 866px;
    // width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .divisor {
      // width: 960px;
      height: 54px;
      margin-bottom: 122px;
    }
    .form-link {
      display: flex;
      flex-direction: row;
      position: relative;
      .whatsapp-link {
        position: absolute;
        width: 149px;
        height: 95px;
        top: -43px;
        left: 267px;
      }
      form {
        width: 450px;
        padding: 30px;
        border: 1px solid #fff;
        box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
        border-radius: 10px;
        label {
          display: flex;
          flex-direction: column;
          font-weight: 700;
          input {
            margin: 10px 0 15px;
            font-size: 15px;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &::placeholder {
              opacity: .9;
            }
          }
        }
        p {
          color: #999;
          margin: 0 0 15px;
          font-size: 70%;

        }
        .submit {
          width: 100%;
          font-family: inherit;
          padding: 10px 16px;
          border-radius: 6px;
          font-size: 18px;
          line-height: 1.3;
          background: linear-gradient(45deg,#f60,#fc0);
          border: none;
          color: white;
          span {
          
          }
        }
        #hide {
          hr {
            margin-top: 20px;
            margin-bottom: 20px;
            border: 0;
            border-top: 1px solid #eee;
          }
          h6 {
            font-size: 12px;
            margin: 10px 0;
          }
          .input-copy {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            button {
              display: inline-block;
              text-align: center;
              white-space: nowrap;
              cursor: pointer;
              border: 1px solid #ccc;
              padding: 6px 12px;
              font-size: 14px;
              line-height: 1.4;
              border-radius: 4px;
            }
            span {
              border: 1px solid #ccc;
              background-color: #eee;
              overflow: hidden;
              white-space: nowrap;
              padding: 5px 11px;
            }
          }
        }
        .hide {
          display: none;
        }
      }
      .link-free {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 90px;
        position: relative;

        .planes-2{
          width: 133px;
          height: 82px;
          position: absolute;
          top: 1px;
          left: 190px;
        }
        .planes-3 {
          width: 73px;
          height: 105px;
          position: absolute;
          bottom: -28px;
          left: 120px;
        }
        h2 {
          font-size: 30px;
          color: rgb(0, 0, 0);
          line-height: 42px;
          text-align: left;
          margin: 20px 0 10px;
        }
        p {
          width: 370px;
        }
      }
    }
  }
  .grid {
    height: 971px;
    margin: 0 auto;
    h2 {
      font-size: 36px;
      line-height: 50px;
      text-align: center;
      font-weight: 400;
      margin-bottom: 97px;
    }

    .blocos {
      display: flex;
      justify-content: space-between;
      .bloco {
        display: flex;
        justify-content: center;
        flex-direction: column;
        img {
          width: 274px;
          height: 506px
        }
        h4 {
          font-weight: 400;
          text-align: center;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
  .footer-comercial {
    border-top: 1px solid #EFEFEF;
    padding-top: 80px;
    margin-top: 80px;
    text-align: center;
  }
  footer {
    // width: 1170px;
    width: 960px;
    margin: 0 auto; 
    nav {
      display: flex;
      justify-content: space-between;
      ul {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        li{
          list-style: none;
          width: 100%;
          margin-bottom: 14px;
  
          a {
            display: inline-block;
            width: 100%;
            margin-bottom: 14px;
            font-size: 13px;
            color: #888;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
            img {
              width: 80%;
              border-radius: 7px;
            }
          }
        }
        .title-li{
          display: inline-block;
          color: #000;
          font-size: 14px;
          text-decoration: none;
          font-weight: 500;
          margin-bottom: 20px;
          cursor: default;
          
          span {
            display: none;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .header-padding {
      margin-bottom: 100px;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // position: fixed;
      /* z-index: 1; */
      width: 100%;
      height: 52px;
      padding: 0 10px;
      position: relative;
      .hide-menu{
        display: none;
      }
      #menu {
        display: flex;
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          height: 35px;
          width: 34px;
          .menu {
            width: auto;
            height: auto;
          }
        }
      }
      ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 69px;
        left: 0;
        // padding: 50px 0;
        /* height: 100px; */
        // background: linear-gradient(45deg, #ff9900 0%, #ff5500 100%);
        li {
          display: flex;
          background: linear-gradient(45deg, #ff9900 0%, #ff5500 100%);
          width: 100%;
          justify-content: center;
          padding: 10px 0;
          list-style: none;
          font-size: 14px;

          &:nth-child(1){
            width: 100%;
            border-radius: 0;
            padding: 10px 0;
            border: none;
            background: linear-gradient(45deg, #ff9900 0%, #ff5500 100%);
          }
          a {
            font-size: 18px;
            text-decoration: none;
            color: white;
  
            &:hover {
              text-decoration:underline ;
            }
          }
        }
      }
    }
    .main {
      height: 1200px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: 40px;
      padding: 0 12px;
      .esquerdo{
        // width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
        position: relative;
        margin: 0 auto;
        .title {
          height: 112px;
          h1{
            text-align: left;
            font-size: 38px !important;
            line-height: 46px !important;
            text-transform: uppercase;
          }
          .wpp {
            width: 78px;
            height: 78px;
            position: absolute;
            left: 140px;
            top: 180px;
          }
          .plane-title {
            position: absolute;
            width: 86px;
            height: 124px;
            top: 1169px;
            left: 268px;
          }
        }
        .planes-1 {
          width: 122px;
          height: 77.71px;
          bottom: -775px;
          left: 119px;
        }
        h3{
          text-align: left;
          font-size: 18px;
          line-height: 26px;
          position: absolute;
          top: 1005px;
          left: 16px;
          width: 315px;
        }
        p {
          position: absolute;
          line-height: 20px;
          width: 268px;
          top: 1165px;
          left: 16px;
        }
        a {
          width: 100%;
          text-align: center;
          text-decoration: none;
          border-radius: 30px;
          padding: 14px 30px;
          color: #FFF;
          font-size: 24px;
          background: linear-gradient(45deg, #00bb88 0%,#33EE55 100%);
          box-shadow: 0 2px 3px rgb(0 0 0 / 15%);
          margin-bottom: 40px;
        }
      }
      .direito {
        display: flex;
        align-items: center;
        img {
          width: 360px;
          height: 672.45px;
        }
      }
    }
    .page-link {
      height: 1050px;
      width: 100%;
      .divisor {
        display: none;
      }
      .form-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .whatsapp-link {
          position: absolute;
          width: 149px;
          height: 95px;
          top: -58px;
          left: 85px;
        }
        form {
          width: 340px;
          margin-bottom: 170px;
          #hide {
            .input-copy {
              margin-top: 20px;
            }
          }
          .hide {
            display: none;
          }
        }
        .link-free {
         display: none;
        }
        .link-free {
          width: 340px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          // margin-left: 90px;
          position: relative;
          margin: 0 auto;
  
          .planes-2{
            width: 133px;
            height: 82px;
            position: absolute;
            top: -105px;
            left: 110px;
          }
          .planes-3 {
            width: 73px;
            height: 105px;
            position: absolute;
            bottom: -134px;
            left: 120px;
          }
          h2 {
            font-size: 25px;
            color: rgb(0, 0, 0);
            line-height: 30px;
            text-align: left;
          }
          p {
            width: 330px;
            line-height: 19px;
          }
        }
      }
    }
    .grid {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      h2 {
        margin: 30px 0 40px;
        font-size: 25px;
        color: rgb(0, 0, 0);
        line-height: 30px;
      }
  
      .blocos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .bloco {
          margin: 20px 0;
        }
      }
    }
    .footer-comercial {
      border-top: 1px solid #EFEFEF;
      padding-top: 80px;
      margin-top: 80px;
      text-align: center;
    }
    footer {
      width: 100%;
      margin: 0 auto; 
      nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 60px;
      .active {
        height: auto;
        width: 100%;
        .title-li{
          margin-bottom: 25px;
        }
          li {
            height: auto;
            
            a {
              height: 20px;
              justify-content: flex-start;
            }

          }
          &:nth-last-child(1) {
            li {
              a {
                justify-content: center;
                align-items: center;
                height: 60px;
             }
            } 
          }
      }
        ul {
          height: 70px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .title-li{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 14px;
            font-size: 16px !important;
            color: #888;
            font-size: 14px;
            text-decoration: none;
            font-weight: 700;
            cursor: pointer;

            span {
              display: block;
            }
  
            &:hover {
              text-decoration: none;
            }
          }
          li{
            height: 0;
            list-style: none;
            width: 100%;
            margin-bottom: 14px;
    
            a {
              display: flex;
              justify-content: flex-start;
              width: 100%;
              margin-bottom: 14px;
              font-size: 14px;
              color: #888;
              text-decoration: none;
              overflow: hidden;
              height: 0;

              &:hover {
                text-decoration: underline;
              }

              img {
                width: 70%;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

section {
  width: 960px;
}
